<section id="mid">
  <div class="container mid_cont h_cont">
    <div class="row-fluid">
      <div class="innerpad1 pad1  h_cont">
        <h1>Operational Efficiency</h1>
        <h2>Make Smarter Decisions. Faster.</h2>
        <h4><a href="#">Click here to register for a free demo</a></h4>
      </div>
      <hr class="brd1">
      <div class="row innerpad1 h_cont">
        <div class="row-fluid bnleft">
          <% @types.each do |type| %>
          <div class="newItem span6">
            <h1><a href="#"> <%= type.name %></a></h1>
            <% @articles = Article.where(:type_id => type.id).order('created_at DESC').limit(5) %>
            <% @articles.each do |article| %>
            <ul>
              <li><a href="<%= params[:controller] %>/<%= article.id %>"><%= article.title %></a></li>
            </ul>
                <% end %>
            <p><%= link_to 'view more...', controller: 'articles', action: 'list', id: type.id %></p>
          </div>
           <% end %>
          <div class="cont_clear"></div>
        </div>
        <div class="clear"></div>
        <a name="fi"></a>
        <div><br>
        </div>
        <div><br>
        </div>
      </div>
    </div>
  </div>
</section>